In [14]:
from collections import defaultdict
from mysql.connector.errors import Error
from itertools import islice
from collections import defaultdict
from mysql.connector.errors import Error
from itertools import islice

import datetime
import sys
import json
import mysql.connector
import os
import glob
import re
import time
import codecs
import base64;
from pandas import DataFrame

In [9]:
df = DataFrame.from_csv("/media/data/sensemaking/dataset/cascades/hashtags/input/hashtag_monthly_summary.csv", sep=",")
cascade_list=df.to_records().tolist()

In [15]:
df = DataFrame.from_csv("/media/data/sensemaking/dataset/cascades/hashtags/input/hashtag_daily_sum.csv", sep=",")
cascade_list1=df.to_records().tolist()

In [19]:
print(len(cascade_list1))
#for i in range(10000,11000):
 #   print(len(cascade_list[i]))

3935102

In [ ]:
#cumulative monthly summary
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q= "insert into cumulative(hashtag,date,tweet_count,tweet_cum_count,user_count,user_cum_count,rank) values(?,?,?,?,?,?,?)"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.executemany(q,cascade_list1)  
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")

In [21]:
#cumulative daily summary
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q= "insert into cumulative_daily(hashtag,date,user_count,user_cum_count,tweet_count,tweet_cum_count) values(?,?,?,?,?,?)"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.executemany(q,cascade_list1)  
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")

it wass succes::::

In [ ]:
tweet_cum_count | float | YES  |     | NULL    |       |
| user_count      | float | YES  |     | NULL    |       |
| user_cum_count  | float | YES  |     | NULL    |       |
| rank

In [ ]:
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q= "select * from userhashtag"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.execute(q)
    rows = cursor.fetchall() #return list of tuples (tweetid,hashatg(svpol,ligpol,.))
    print(rows[1])
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")