In [10]:
from collections import defaultdict
from mysql.connector.errors import Error
from itertools import islice

import datetime
import sys
import json
import mysql.connector
import os
import glob
import re
import time
import codecs
import base64;
from pandas import DataFrame

In [11]:
df = DataFrame.from_csv("/media/data/sensemaking/dataset/cascades/solr_indx.tsv", sep="\t")
cascade_list=df.to_records().tolist()

In [12]:
for i in range(0,1):
    print(cascade_list[i])

(755785891138985984, '#svpol  Ett tydligt ställningstagande från en #centerpartist.  @Centerpartiet https://t.co/ItKdMV43rL', 'olofdissident', 1327807772, 'centerpartist,svpol', '2016-07-20 15:26:12', 'centralpartiet')

In [13]:
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q= "insert into solor_index(tweet_id,tweet_text,username,user_id,hashtags,created_at,party) values(?,?,?,?,?,?,?)"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.executemany(q,cascade_list)  
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")

it wass succes::::

In [2]:
#distinct hashtag
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q="select distinct tweet_id from twitter_data"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.execute(q) 
    rows=cursor.fetchall()
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")

it wass succes::::

In [3]:
twli=[]
tw_single=[]
print(len(rows))
print(rows[0])
for (i,) in rows:
    twli.append((i,i))
    tw_single.append(i)
print(len(twli))
print(twli[0])
print(len(tw_single))
print(tw_single[0])

213759
(802982812634726400,)
213759
(802982812634726400, 802982812634726400)
213759
802982812634726400

In [ ]:
+------------+------------+------+-----+---------+-------+
| Field      | Type       | Null | Key | Default | Extra |
+------------+------------+------+-----+---------+-------+
| tweet_id   | bigint(20) | YES  |     | NULL    |       |
| userid     | bigint(20) | YES  |     | NULL    |       |   solorindex1
| ht         | text       | YES  |     | NULL    |       |
| created_at | datetime   | YES  |     | NULL    |       |
| user_name  | text       | YES  |     | NULL    |       |
| tweet_text | text       | YES  |     | NULL    |       |
+------------+------------+------+-----+---------+-------+'

211616'

In [4]:
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [7]:
twli_chunks=list(chunks(range(0,213759), 4000))
print(len(twli_chunks))
print(twli_chunks)

54
range(144000, 148000)

In [ ]:
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
query="select GROUP_CONCAT(CONCAT(hashtag)) as ht from twitter_data where tweet_id=?)a join twitter_data where tweet_id=?"
try:
    cursor = cnx.cursor(prepared=True)
    
        for i in twli_chunks[j]:
            cursor.execute(q,twli[i]) 
            a=cursor.fetchall()
            a1=a[0]
            if len(a1)>0:
                cursor.execute(r,(tw_single[i],a1[0],a1[1].decode('utf-8'),a1[2].decode('utf-8'),a1[3].decode('utf-8'),a1[4].decode('utf-8'))) 
            else:
                continue
        cnx.commit()
        print("it was success:%d"%j)
        
        
    
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    print(twli[i])
    print(a)
    raise mysql.connector.Error(err)
print("it wass succes::::")

In [6]:
solorindex=[]
x=[34,35,36,37,38,39,40,41,42,43,44,45]
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q="select distinct user_id, ht,created_at,user_name,tweet_text from (select GROUP_CONCAT(CONCAT(hashtag)) as ht from twitter_data where tweet_id=?)a join twitter_data where tweet_id=?"
r="insert into solorindex1(tweet_id,userid,ht,created_at,user_name,tweet_text) values(?,?,?,?,?,?)"
try:
    cursor = cnx.cursor(prepared=True)
    for j in x:
        for i in twli_chunks[j]:
            cursor.execute(q,twli[i]) 
            a=cursor.fetchall()
            a1=a[0]
            if len(a1)>0:
                cursor.execute(r,(tw_single[i],a1[0],a1[1].decode('utf-8'),a1[2].decode('utf-8'),a1[3].decode('utf-8'),a1[4].decode('utf-8'))) 
            else:
                continue
        cnx.commit()
        print("it was success:%d"%j)
        
        
    
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    print(twli[i])
    print(a)
    raise mysql.connector.Error(err)
print("it wass succes::::")

it was success:34
it was success:35

KeyboardInterrupt: