In [1]:
from collections import defaultdict
from mysql.connector.errors import Error
from itertools import islice

import datetime
import sys
import json
import mysql.connector
import os
import glob
import re
import time
import codecs
import base64;
from pandas import DataFrame
cdate1=[]
cascade_list=[]

In [2]:
df = DataFrame.from_csv("/media/data/sensemaking/dataset/cascades/tweet_data.tsv", sep="\t")
cascade_list=df.to_records().tolist()

In [3]:
for i in range(0,10):
    print(cascade_list[i])

('bättreförr', 3844174397, '2016-05-30 15:24:57', 'Vansterpartiet', 'pensionarer', '@vansterpartiet pratade igår om subventioner i bostadsmarknaden. Frågan är: hur blir det med subventioner för löständer? #svpol #bättreförr', 737303794648748032, 1464614697.0, 0.0)
('bättreförr', 3844174397, '2016-07-04 17:06:05', 'centralpartiet', 'pensionarer', '@annieloof vill ha nya reformer. Vi vill snarare habgamla reformer från den gamla goda tiden #Almedalen #bättreförr @Centerpartiet', 750012819735740416, 1467644765.0, 3030068.0)
('bättreförr', 3844174397, '2016-07-04 17:31:00', 'centralpartiet', 'pensionarer', 'Inget tal om pensionärerna i @annieloof tal i #Almedalen. Stor besvikelse! @Centerpartiet #bättreförr', 750019088630579200, 1467646260.0, 3031563.0)
('bättreförr', 3197204051, '2016-07-06 17:13:01', 'Kristdemokraterna', 'Systemmannen', 'Mer vård i vården om man slipper välja. Så enkelt. Så bra. #bättreförr #almedalen @kdriks', 750739342554005504, 1467817981.0, 3203284.0)
('bättreförr', 3197204051, '2016-07-07 17:52:45', 'Sveriagedemokraterna', 'Systemmannen', "Hej @sdriks! Ni verkar också tycka att det var #bättreförr. Har ni hört min nya låt 'Det var bättre förr'?#almedalen https://t.co/GSqUMRwfVH", 751111728365244417, 1467906765.0, 3292068.0)
('notall', 754295990996303873, '2016-10-19 19:39:13', 'Socialdemokraterna', 'ZeeWorldClear', '@hanifbali @konsensuseliten @Ygeman Sossar är vidriga, #notall', 788826858955673600, 1476898753.0, 0.0)
('världscancerdagen', 154434621, '2016-02-04 12:17:59', 'Kristdemokraterna', 'kdmariafalth', 'Gabriel Wikström hyllar @goranhagglund m fl ansträngningar att ta fram en nationell cancerplan #världscancerdagen @KDSLL  @kdriks', 695219748821471232, 1454584679.0, 0.0)
('världscancerdagen', 154434621, '2016-02-04 15:06:05', 'Kristdemokraterna', 'kdmariafalth', 'Riksdagens socialutskottsordförande @EmmaHenriksson (KD) på scen på #världscancerdagen. Då blir det mycket bra @KDSLL @kdriks', 695262053586571264, 1454594765.0, 10086.0)
('feministisklogik', 498989923, '2016-08-20 16:43:19', 'FeministisktInitiativ', 'Grisbrottaren', 'SEX ÄR INGET BROTT!  Sådär! Nu kan vi avskaffa sexköpslagen. https://t.co/F13Nb2ZucN #feministisklogik #tiggeriförbud #fempol @Feministerna', 767039322293989377, 1471704199.0, 0.0)
('paulabieler', 22406603, '2016-04-17 09:14:49', 'Sveriagedemokraterna', 'RaFaNaIAM', "Paula Bieler 'Vi har inte varit naiva' https://t.co/kgiyuZjhrE #SvPol 'Sverigedemokraterna #PaulaBieler", 721627969320546305, 1460877289.0, 0.0)

In [5]:
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q= "insert into solor_index(user_id,created_at,label,user_name,tweet_text,tweet_id) values(?,?,?,?,?,?,?)"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.executemany(q,cascade_list)  
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")

it wass succes::::

In [ ]:
user_id    | bigint(20) | YES  |     | NULL    |       |
| hashtag    | text       | YES  |     | NULL    |       |
| created_at | text       | YES  |     | NULL    |       |
| label      | text       | YES  |     | NULL    |       |
| user_name  | text       | YES  |     | NULL    |       |
| tweet_text | text       | YES  |     | NULL    |       |
| tweet_id
timestamp     | float      | YES  |     | NULL    |       |
| relative_time

In [5]:
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q= "insert into twitter_data(hashtag,user_id,created_at,label,user_name,tweet_text,tweet_id,timestamp,relative_time) values(?,?,?,?,?,?,?,?,?)"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.executemany(q,cascade_list)  
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")

it wass succes::::

In [25]:
#distinct hashtag
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q="select distinct hashtag from twitter_data"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.execute(q) 
    rows=cursor.fetchall()
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")

it wass succes::::

In [33]:
htlist=[]
for (x,) in rows:
    x1=x.decode("utf-8")
    htlist.append((x1,))
print(len(htlist))
print(htlist[0])

14212
('FiAlmedalen',)

In [ ]:
cumulative_count=[]
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
p="select count(distinct user_id) as cuser,count(distinct tweet_id)as ctweet, m ,@total:=@total+count(distinct tweet_id) as cumtweet from  (select user_id,tweet_id,month(created_at) as m from twitter_data cross join (select @total := 0) as var where hashtag=?)a  group by m"
try:
    cursor = cnx.cursor(prepared=True) 
    for i in htlist:
        cursor.execute(p,i) 
        for row in cursor:
            rows1=cursor.fetchall()

In [13]:

contents = [x.strip() for x in contents]
print(len(contents))
for content in contents:
    x=content.split(" ")
    for i in range(1,len(x)):
        ht=x[i].split(",")
        t=time.strftime('%Y-%m-%d', time.localtime(float(ht[0])))
        cascade_list.append((x[0],t,ht[1]))
    
print(len(cascade_list))
for i in range(0,50):
    print(cascade_list[i])

16300
328155
("b'FiAlmedalen'", '2016-06-28', '2287066712')
("b'FiAlmedalen'", '2016-06-28', '23077161')
("b'FiAlmedalen'", '2016-06-28', '3175345451')
("b'FiAlmedalen'", '2016-06-28', '420947484')
("b'FiAlmedalen'", '2016-06-28', '3351035297')
("b'FiAlmedalen'", '2016-06-30', '22898618')
("b'FiAlmedalen'", '2016-06-30', '2493206733')
("b'FiAlmedalen'", '2016-07-04', '23077161')
("b'FiAlmedalen'", '2016-07-04', '851532774')
("b'FiAlmedalen'", '2016-07-04', '182935271')
("b'FiAlmedalen'", '2016-07-04', '2396241908')
("b'FiAlmedalen'", '2016-07-04', '42009389')
("b'FiAlmedalen'", '2016-07-04', '2327694438')
("b'FiAlmedalen'", '2016-07-04', '275719086')
("b'FiAlmedalen'", '2016-07-04', '22898618')
("b'FiAlmedalen'", '2016-07-04', '420947484')
("b'FiAlmedalen'", '2016-07-04', '410699451')
("b'FiAlmedalen'", '2016-07-05', '2287066712')
("b'FiAlmedalen'", '2016-07-05', '2612306330')
("b'FiAlmedalen'", '2016-07-05', '23077161')
("b'FiAlmedalen'", '2016-07-05', '851532774')
("b'FiAlmedalen'", '2016-07-05', '2862998554')
("b'FiAlmedalen'", '2016-07-05', '404731830')
("b'FiAlmedalen'", '2016-07-06', '134584157')
("b'FiAlmedalen'", '2016-07-06', '1653601639')
("b'Almedalen2016'", '2016-06-14', '19393282')
("b'Almedalen2016'", '2016-06-26', '113185497')
("b'Almedalen2016'", '2016-06-28', '420947484')
("b'Almedalen2016'", '2016-06-28', '2287066712')
("b'Almedalen2016'", '2016-06-28', '23077161')
("b'Almedalen2016'", '2016-06-28', '23077161')
("b'Almedalen2016'", '2016-06-28', '851532774')
("b'Almedalen2016'", '2016-06-28', '3175345451')
("b'Almedalen2016'", '2016-06-28', '370654673')
("b'Almedalen2016'", '2016-06-28', '420947484')
("b'Almedalen2016'", '2016-06-28', '3351035297')
("b'Almedalen2016'", '2016-06-28', '598659590')
("b'Almedalen2016'", '2016-06-30', '22898618')
("b'Almedalen2016'", '2016-06-30', '2493206733')
("b'Almedalen2016'", '2016-07-02', '1239431244')
("b'Almedalen2016'", '2016-07-02', '18799589')
("b'Almedalen2016'", '2016-07-02', '481518702')
("b'Almedalen2016'", '2016-07-02', '18448607')
("b'Almedalen2016'", '2016-07-02', '2504450264')
("b'Almedalen2016'", '2016-07-02', '105259402')
("b'Almedalen2016'", '2016-07-02', '2442995185')
("b'Almedalen2016'", '2016-07-02', '1048219536')
("b'Almedalen2016'", '2016-07-02', '1324366746')
("b'Almedalen2016'", '2016-07-02', '4841384319')
("b'Almedalen2016'", '2016-07-02', '22972747')

In [14]:
cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
q= "insert into cascade1(ht,created_at,userid) values(?,?,?)"
try:
    cursor = cnx.cursor(prepared=True)    
    cursor.executemany(q,cascade_list)  
    cnx.commit()
    cursor.close()
    cnx.close()
except Error as err:
    print("Something went wrong: {}".format(err))
    raise mysql.connector.Error(err)
print("it wass succes::::")

it wass succes::::