In [34]:
from collections import defaultdict
from mysql.connector.errors import Error
from itertools import islice

import datetime
import sys
import json
import mysql.connector
import os
import glob
import re
import time
import codecs
import base64;
# from pandas import DataFrame
import pandas as pd
import numpy as np
cdate1=[]
cascade_list=[]

In [44]:
df1 = pd.read_csv("/media/data/sensemaking/dataset/cascades/tweet_data.tsv", delimiter="\t")
df2 = pd.read_csv("/media/data/sensemaking/dataset/social_graph/pagerank.dat", delimiter="=", header=None)

# result = result[['col1', 'cole2']]
# df = Data.from_csv("/media/data/sensemaking/dataset/cascades/tweet_data.tsv", sep="\t")
#df1=df.loc[:,['user_id']]
# df1=DataFrame(df[['user_id']],columns=['user_id'])
# df.head()
# uids = df['user_id'].values
# df1.set_index(['user_id'])
#print(df1[:5])
# df1.drop_duplicates()

In [52]:
df2.set_index(0, inplace=True)
df2.head()

                       1
0
1000076258  5.187130e-08
167173675   6.335747e-08
180555696   3.478004e-07
146887702   1.230713e-07
430463836   6.289391e-08

In [46]:
uniq_ids = np.unique(df1['user_id'].values)

In [54]:
uniq_ids

array([              9774,              12843,              15213, ...,
       809117376197357576, 810088862600921088, 814919495814889472])

In [55]:
page_rank = df2.loc[uniq_ids]

In [56]:
page_rank.shape

(24104, 1)

In [58]:
page_rank.to_csv('/media/data/sensemaking/dataset//cascades/user_rank.csv', sep='\t',header=None)

In [ ]:
/* over here to insert this csv file into user rank table by the help of load command

In [15]:
df3 = DataFrame(pagerank1, columns=['user_id', 'rank'])
print(df3[:5])

      user_id                  rank
0  1000076258  5.18712959837912e-08
1   167173675  6.33574655206441e-08
2   180555696  3.47800402350792e-07
3   146887702  1.23071256394309e-07
4   430463836  6.28939145321985e-08

In [ ]:
/* over here to insert user rank table u

In [47]:
s1= insertpagerank1(pagerank1)
print('memcommunity table insertion operation : %s'%s1)

[range(0, 1000000), range(1000000, 2000000), range(2000000, 3000000), range(3000000, 4000000), range(4000000, 5000000), range(5000000, 6000000), range(6000000, 7000000), range(7000000, 8000000), range(8000000, 9000000), range(9000000, 10000000), range(10000000, 11000000), range(11000000, 12000000), range(12000000, 13000000), range(13000000, 14000000), range(14000000, 15000000), range(15000000, 16000000), range(16000000, 17000000), range(17000000, 18000000), range(18000000, 19000000), range(19000000, 19193778)]
memcommunity table insertion operation : success

In [46]:
def insertpagerank1(pagerank1):
    x=list(chunks(range(0,19193778), 1000000))
    print(x)
    cnx = mysql.connector.connect(user='root', password= 'root', host = 'localhost',database = 'twitterSchema')
    add_community= "INSERT INTO pagerank1(id_str,rank) VALUES (?, ?)"
    
   
    try:
        cursor = cnx.cursor(prepared=True)                        
        #cursor.executemany(add_community,pagerank1)
        for i in x[19]:
            cursor.execute(add_community,pagerank1[i])
        cnx.commit()
        cursor.close()
        cnx.close()
        
    except Error as err:
        print("Something went wrong: {}".format(err))
        raise mysql.connector.Error(err)
    return 'success';